/CommonLibrary/obj
/CommonLibrary/bin
/DataAccess/obj
/DataAccess/bin
/DownloaderFromHosting/obj
/DownloaderFromHosting/bin
/MvcApplication1/obj
/MvcApplication1/bin
/DownloaderFromHosting/obj
/DownloaderFromHosting/bin
/UploaderToHosting/obj
/UploaderToHosting/bin
/MvcApplication1.v11.suo
/DataAccess.Models/obj
/DataAccess.Models/bin
/MvcApplication1.suo
